*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lime;
}

.card .col-md-8 .card-body{
    transition: 0.7s ease-in-out;
}

.card:hover .col-md-8 .card-body{
    box-shadow: inset 900px 0 0 0 red;
}
.col-md-4{
    overflow: hidden;

}

.col-md-4 img{
    background-size: cover;
    width: 100%;
    height: 200px;
    transition: 0.5s ease-in-out;
}

.card:hover .col-md-4 img{
    transform: scale(1.5);
}

button{
    color: #fff;
    background-color: red;
    padding: 2px 8px;
    margin: 8px 4px 4px 4px;
    position: relative;
    border: 3px solid #fff;
    z-index: 1;
}

button::before{
    content: "";
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: scale(0);
    transition: 0.3s ease-in-out;
}

button:hover::before{
    transform: scale(1);
}

button:hover{
    color: red;
}

.card:hover .col-md-8{
    color: #fff;
}

.card:hover .col-md-8 .card-body p small{
    color: #fff;
}